@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #007BFF;
    --secondary: #f9fafb;
    --danger: #ff453a;
    --light: #f3f4f8;
    --dark: #222;
}

body {
    background-color: var(--light);
}